.card
  .card_icon= image_tag 'person.svg', width: '30px'
  .card_text
    = render "subscriptions/subscription", subscription: subscription
  .card_info
    - if subscription.fingerprint.blank?
      = popup('key-missing.svg') do
        .warn Warning: This address has no key selected!
        = link_to("Fix this", edit_subscription_path(subscription))
    - elsif subscription.key.blank?
      = popup('key-missing.svg') do
        .warn Warning: The key that is selected for this address is not available!
        = link_to("Fix this", edit_subscription_path(subscription))
    - elsif subscription.key.trust_issues.present?
      = popup('key-missing.svg') do
        .warn= key_trust_title(subscription.key)
        = link_to("Fix this", edit_subscription_path(subscription))

    - if ! subscription.delivery_enabled?
      = popup('delivery-disabled.svg') do
        This person currently does not receive emails from this list ("delivery disabled").
    - if subscription.admin?
      = popup('heart.svg') do
        This person is an admin of this list.
