- @title = 'Subscriptions'

.col-lg-8.col-md-9
  .panel.panel-info
    .panel-heading Subscriptions
    .panel-body
      %table.table
        %thead
          %tr 
            %th email
            %th key
        %tbody
          - @list.subscriptions.each do |subscription|
            %tr{style: subscription.admin? && 'font-weight: bold'}
              %td{title: table_row_title(subscription)}
                = link_to(edit_subscription_path(subscription), title: 'Edit') do
                  - if subscription.delivery_enabled?
                    = subscription.email
                  - else
                    - surround('(', ')') do
                      = subscription.email
              %td
                - if subscription.fingerprint.blank?
                  %span.text-danger No key assigned!
                - elsif subscription.key.blank?
                  .mono= subscription.fingerprint
                  %span.text-danger Key not present!
                  %span
                    = link_to(list_keys_path(@list, anchor: 'upload'), title: 'Upload key', class: 'text-success') do
                      .large.glyphicon.glyphicon-upload
                - elsif subscription.key.trust_issues.present?
                  .mono= link_to subscription.fingerprint, list_key_path(@list, subscription.key)
                  %span.text-danger= subscription.key.trust_issues
                - else
                  .mono= link_to subscription.key.to_s, list_key_path(@list, subscription.key)
      .small.pull-right
        * (Delivery is disabled)
        %div{style: 'font-weight: bold'} * Admin of list

.col-lg-4.col-md-5
  .panel.panel-info
    .panel-heading New subscription
    .panel-body
      = render 'subscriptions/form'
