- @title = t(".title")

.col.col-sm-12
  %fieldset
    %legend
      = t(".create_list")
  
    = simple_form_for(@list, html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f|
      = f.input :email, hint: t(".hint_email"), required: true
      = f.input :fingerprint, label: t(".fingerprint"), hint: t(".hint_fingerprint")
      = f.button :submit, t(".create"), class: 'btn btn-success'
