-# There's no assignment of @title on purpose, showing only the listname is a good title for this page.

.col.col-sm-12

  - if @list.key.blank?
    .alert.alert-warning 
      %strong No key present! This list is not functional!

  %h2= t(".overview")

  %table.table.listing
    %tr
      %td Key of list
      %td= link_to("0x#{@list.key.fingerprint}", [@list, @list.key])
    %tr
      %td Admins
      %td
        - if @list.admins.blank?
          .text-danger None
        - else
          = render 'subscriptions/subscriptions', subscriptions: @list.admins
    %tr
      %td # of subscriptions
      %td
        - if can? :index, @list.subscriptions
          = link_to @list.subscriptions.count, list_subscriptions_path(@list)
        - else
          = @list.subscriptions.count

    - if can? :manage, @list
      %tr
        %td Subscriptions without key
        %td
          = render 'subscriptions/subscriptions', subscriptions: @list.subscriptions.select { |sub| sub.key.blank? }

  - if can? :destroy, @list
    .pull-right
      = link_to delete_list_path(@list), class: 'text-danger' do
        .glyphicon.glyphicon-remove
        Delete list 

