= render 'page_header'

- if can? :destroy, @list
  .pull-right
    = link_to "Delete list", @list, method: :delete, data: { confirm: "Are you really sure? This does NOT remove any list-data from disk!" }, class: 'btn btn-danger'

- if current_account.admin_of?(@list) || current_account.superadmin?
  = link_to(edit_list_subscriptions_path(@list), class: 'btn btn-default') do
    %span.glyphicon.glyphicon-th-list
    Edit subscriptions
  = link_to(edit_list_path(@list), class: 'btn btn-default') do
    %span.glyphicon.glyphicon-wrench
    Edit list options
  = link_to(list_keys_path(@list), class: 'btn btn-default') do
    %span.glyphicon.glyphicon-barcode
    List keys
- else
  = link_to(edit_subscription_path(@subscription), class: 'btn btn-default') do
    %span.glyphicon.glyphicon-th-list
    Edit subscription
  .pull-right
    -# TODO: fix confirmation
    = button_to(@subscription, method: :delete, title: "Unsubscribe from this list", class: 'btn btn-danger') do
      %span.glyphicon.glyphicon-remove
      Unsubscribe

- if current_account.subscribed_to?(@list) || current_account.superadmin?
  = link_to(list_keys_new_path(@list), class: 'btn btn-success') do
    %span.glyphicon.glyphicon-upload
    Upload key


.clearfix
%br

- if @list.key.blank?
  .alert.alert-warning 
    %strong No key present! This list is not functional!
- else
  %pre= @list.key.ascii
