- @title = 'Subscribed addresses'

.col.col-sm-12

  .pull-right
    = link_to(new_list_subscription_path(@list), method: :get, class: 'text-success') do
      %span.glyphicon.glyphicon-plus
      = t(".new_subscription")

  %h2= @title

  .card_listing
    - @admins.each do |subscription|
      = render "subscription_row", subscription: subscription

  .card_listing
    - @non_admins.each do |subscription|
      = render "subscription_row", subscription: subscription


