- @title = 'Subscriptions'

.col.col-sm-12

  .pull-right
    = link_to(new_list_subscription_path(@list), method: :get, class: 'text-success') do
      %span.glyphicon.glyphicon-plus
      = t(".new_subscription")

  %h2= @title

  %fieldset
    %legend Admins
    %table.table
      - @admins.each do |subscription|
        = render "subscription_row", subscription: subscription

  %fieldset
    %legend Other subscriptions
    %table.table
      - @non_admins.each do |subscription|
        = render "subscription_row", subscription: subscription

