- @title = "Known keys"

.col-sm-12.keys_index
  - if current_account.subscribed_to?(@list) || current_account.superadmin?
    .pull-right
      = link_to(list_key_new_path(@list), method: :get, title: t(".upload_keys"), class: 'text-success') do
        %span.glyphicon.glyphicon-plus
        = t(".upload_keys")

  %h2= @title

  .card_listing.list_key
    = render "key_row", key: @list.key, with_list_key_info: true

  .card_listing
    - @assigned_keys.each do |key, subscriptions|
      = render "key_row", key: key, subscriptions: subscriptions

  .card_listing
    - @unassigned_keys.each do |key|
      = render "key_row", key: key


