- @title = "Keys"

.col-lg-7
  .panel.panel-info
    .panel-heading= t('.listing_keys')
    .panel-body
      %table.table
        %thead
          %tr
            %th= t(".key")
            %th= t(".used_by")
        %tbody
          - @assigned_keys.each do |key|
            = render "key_row", key: key
          - @unassigned_keys.each do |key|
            = render "key_row", key: key

.col.col-lg-7
  .pull-right
    = button_to(list_key_new_path(@list), method: :get, title: t(".upload_keys"), class: 'btn btn-success') do
      %span.glyphicon.glyphicon-plus
      = t(".upload_keys")
