- @title = "Keys"

.col-sm-12
  - if current_account.subscribed_to?(@list) || current_account.superadmin?
    .pull-right
      = button_to(list_key_new_path(@list), method: :get, title: t(".upload_keys"), class: 'btn btn-success') do
        %span.glyphicon.glyphicon-plus
        = t(".upload_keys")

  %h2= @title

  %fieldset
    %legend The list's key
    %table.table
      = render "key_row", key: @list.key

  %fieldset
    %legend Subscription keys
    %table.table
      - @assigned_keys.each do |key|
        = render "key_row", key: key

  %fieldset
    %legend Other keys
    %table.table
      - @unassigned_keys.each do |key|
        = render "key_row", key: key


