- @title = "Keys"

.col-lg-7
  .panel.panel-info
    .panel-heading= t('.listing_keys')
    .panel-body
      %table.table
        %thead
          %tr
            %th= t(".key")
            %th= t(".used_by")
        %tbody
          = render "key_row", key: @list.key
          - @assigned_keys.each do |key|
            = render "key_row", key: key
          - @unassigned_keys.each do |key|
            = render "key_row", key: key

- if current_account.subscribed_to?(@list) || current_account.superadmin?
  .col-lg-6.col-md-8#upload
    .panel.panel-info
      .panel-heading= t(".upload_keys")
      .panel-body
        = render 'keys/form'
