- @title = t(".upload_key")

.col-sm-12
  %h2= @title

  = form_tag(list_key_create_path(@list), method: 'post',  multipart: true, id: :keyupload) do
    .form-group
      = text_area_tag 'ascii', '', style: 'width: 100%; min-height: 15em;', placeholder: t(".paste_as_text_here").html_safe

    .form-group
      %span.text-muted= t(".or_select_a_file") + ':'
      = file_field_tag :keyfile

    = submit_tag t(".upload"), class: 'btn btn-success'

