- @title = "#{t('.key')} #{@key}"

.col.col-lg-6.col-md-8
  %h2= @key.fingerprint
  - if @key.trust_issues.present?
    .warn{style: 'margin: 1em 0'}
      .large
        .large
          .large
            .glyphicon.glyphicon-warning-sign
            = key_trust_title(@key)

  %table.table.listing
    %tr
      %td Primary user ID:
      %td= @key.primary_uid

    %tr
      %td   #{t(".expiry_date")}:
      %td
        - if @key.expiry_date.present?
          = l(@key.expiry_date)
        - else
          = t(".none")

    %tr
      %td #{t(".generation_date")}:
      %td= l @key.generation_date


  .pull-right
    .large.glyphicon.glyphicon-download-alt
    = link_to t(".download"), [@list, @key, format: :asc]
  .clearfix

  %pre= @key.ascii

- if @key.fingerprint != @list.fingerprint
  .col.col-lg-6.col-md-4
    .pull-right
      = button_to([@list, @key], method: :delete, title: t(".delete_this_key"), class: 'btn btn-danger') do
        %span.glyphicon.glyphicon-remove
        = t(".delete_key")
