= simple_form_for(@subscription, html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f|
  = f.input :list_id, as: :hidden, input_html: { value: @list.id }
  = f.input :email
  = f.input :fingerprint
  = f.input :admin, label: "Admin?", collection: [true, false], hint: "May she/he/it administer this list?", selected: 'false'
  = f.input :delivery_disabled, collection: [true, false], label: 'Delivery disabled?', hint: "Helpful for people, that only administer the list and don't want to receive its traffic", selected: 'false', as: :boolean, boolean_style: :inline
  - if @subscription.persisted?
    = f.button :submit, 'Update', class: 'btn btn-primary'
  - else
    = f.button :submit, 'Subscribe', class: 'btn btn-success'


