= simple_form_for(@subscription, html: { multipart: true, class: 'form-horizontal' }, wrapper: :horizontal_form) do |f|
  = f.input :list_id, as: :hidden, input_html: { value: @subscription.list.id }

  %fieldset
    %legend Email
    - if @subscription.new?
      = f.input :email, required: true
    - else
      = f.input :email, disabled: true
    = checkbox f, :delivery_enabled, "Receive the emails sent over the list?"
    - if can?(:update, @subscription.list)
      = checkbox f, :admin, "May s/he administer this list?"

  %fieldset
    %legend= t(".key")
    = f.input :fingerprint, collection: @list.keys.map { |k| [k.to_s, k.fingerprint] }, label: t(".select_a_key"), class: :mono
    = render "keys/upload_spacer"
    = render "keys/upload_fields"

  %fieldset
    %legend Submit
    - if @subscription.persisted?
      = f.button :submit, 'Update', class: 'btn btn-primary', accesskey: :e
      = link_to "Cancel", subscription_path(@subscription), style: "margin-left: 2em"
    - else
      = f.button :submit, 'Subscribe', class: 'btn btn-success', accesskey: :e


