- @title = t(".unsubscribe")

.col-lg-6.col-md-6
  %h2 #{@title} #{@subscription.email}?

  %p{style: 'margin: 3em 0'}
    %strong= t(".unsubscribe_email_from_list", email: @subscription.email, list_email: @subscription.list.email)


  .pull-right
    = button_to(@subscription, method: :get, class: 'btn btn-link') do
      = t(".back_to_subscription")

  = button_to(@subscription, method: :delete, class: 'btn btn-danger') do
    %span.glyphicon.glyphicon-remove
    = t(".unsubscribe_now")

