- if @list.key.blank?
  .alert.alert-warning 
    %strong
      This list is not functional!
    %p Please contact the people that run this service and tell them about this problem: "No list-key present for #{@list.email}".

%ul#listmenu
  - if can?(:update, @list)
    %li
      = image_tag 'people.svg', width: '20px'
      = link_to_unless_current(t(".subscriptions"), list_subscriptions_path(@list), accesskey: :s)
  - else
    %li
      %span.glyphicon.glyphicon-th-list
      = link_to_unless_current(t(".edit_subscription"), subscription_path(@subscription), accesskey: :s)
  %li
    = image_tag 'keyring.svg', width: '20px'
    = link_to_unless_current(t(".keys"), list_keys_path(@list), accesskey: :k)
  - if can?(:update, @list)
    %li
      %span.glyphicon.glyphicon-wrench
      = link_to_unless_current(t(".list_options"), edit_list_path(@list), accesskey: :o)
