!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Schleuder
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}

    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .container
      .container
        .navbar-header
          .navbar-brand#logo= link_to 'Schleuder', '/'
        #navbar
          = render 'navbar'
      .container
        = render 'flashes'
        = yield
