- @title = t(".title")

.col.col-sm-12
  %fieldset
    %legend
      = t(".change_password")
    = simple_form_for(@account, html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f|
      = f.input :password, as: :password, required: true
      = f.input :password_confirmation, as: :password, required: true

      = f.submit t(".save"), class: 'btn btn-primary'

  - if ! @account.superadmin?
    .pull-right
      = link_to delete_account_path(@account), class: 'text-danger' do
        .glyphicon.glyphicon-remove
        Delete account
